<div class="col-md-6 col-md-offset-3">

    <h2>Notificare dauna RCA</h2>
    
    <form name="form" ng-submit="vm.send()" role="form">
        
        
        <h3>Informatii polita: </h3>
        
        <div class="form-group" ng-class="{ 'has-error': form.polita.$dirty && form.polita.$error.required }">
            <label for="polita">Numar Polita</label>
            <input type="text" name="polita" id="polita" class="form-control" ng-model="vm.dauna.polita" required />
            <span ng-show="form.polita.$dirty && form.polita.$error.required" class="help-block">Completati numarul politei</span>
        </div>
        
        <div class="form-group" ng-class="{ 'has-error': form.inmatriculare.$dirty && form.inmatriculare.$error.required }">
            <label for="inmatriculare">Numar inmatriculare</label>
            <input type="text" name="inmatriculare" id="inmatriculare" class="form-control" ng-model="vm.dauna.inmatriculare" required />
            <span ng-show="form.inmatriculare.$dirty && form.inmatriculare.$error.required" class="help-block">Completati numarul de inmatriculare</span>
        </div>
        
        
        <h3>Informatii persoana: </h3>
        <div class="form-group" ng-class="{ 'has-error': form.cnp.$dirty && form.cnp.$error.required }">
            <label for="cnp">CNP</label>
            <input type="number" name="cnp" id="cnp" class="form-control" ng-model="vm.dauna.cnp" required />
            <span ng-show="form.cnp.$dirty && form.cnp.$error.required" class="help-block">CNP is required</span>
        </div>
        
        
        <h3>Informatii vehicul avariat: </h3>
         <div class="form-group" ng-class="{ 'has-error': form.marca.$dirty && form.marca.$error.required }">
            <label for="marca"> Marca Auto: </label>
            <select name="marca" id="marca" 
                ng-options="option.name for option in vm.marcaAvailableOptions track by option.id" 
                ng-model="vm.dauna.marca"></select>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.model.$dirty && form.model.$error.required }">
            <label for="model"> Model: </label>
            <input type="text" name="model" id="model" class="form-control" ng-model="vm.dauna.model" required>
            <span ng-show="form.cnp.$dirty && form.cnp.$error.required" class="help-block">Car Model is required</span>
        </div>
        
        
        <h3>Informatii eveniment: </h3>
        <div class="input-group date form-group" ng-class="{ 'has-error': form.date.$dirty && form.date.$error.required }">
            <label for="date">Data si ora producere eveniment</label>
            <input type="date" name="date" id="date" class="form-control" ng-model="vm.dauna.date" />
            </br>
            <input type="time" name="time" id="time" class="form-control" ng-model="vm.dauna.time" />
            <span ng-show="form.date.$dirty && form.date.$error.required" class="help-block">Date and time are required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.location.$dirty && form.location.$error.required }">
            <label for="location">Localitate</label>
            <input type="text" name="location" id="location" class="form-control" ng-model="vm.dauna.location" required />
            <span ng-show="form.location.$dirty && form.location.$error.required" class="help-block">location is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
            <label for="description">Descriere</label>
            <textarea ng-model="vm.dauna.description" name="description" rows="5" cols="50"
                        class="form-control" id="description" required> </textarea>
            <span ng-show="form.description.$dirty && form.description.$error.required" class="help-block">adress is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.attachments.$dirty && form.attachments.$error.required }">
            <label for="attachments">Atasamente</label>
            <input type="file" name="attachments" id="attachments" class="form-control" ng-model="vm.dauna.attachments"/>
            <span ng-show="form.attachments.$dirty && form.attachments.$error.required" class="help-block">attachments is required</span>
        </div>
        
        <!--<h3>Date contact: </h3>-->
        <!--<div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">-->
        <!--    <label for="email">Email</label>-->
        <!--    <input type="text" name="email" id="email" class="form-control" ng-model="vm.dauna.email" required />-->
        <!--    <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">location is required</span>-->
        <!--</div>-->
        <!--<div class="form-group" ng-class="{ 'has-error': form.location.$dirty && form.location.$error.required }">-->
        <!--    <label for="phone">Telefon</label>-->
        <!--    <input type="text" name="phone" id="phone" class="form-control" ng-model="vm.dauna.phone" required />-->
        <!--    <span ng-show="form.phone.$dirty && form.phone.$error.required" class="help-block">location is required</span>-->
        <!--</div>-->
        
        
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Trimite notificare</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#/login" class="btn btn-link">Renunta</a>
        </div>
    </form>
</div>