<div class="smart-table-container">
    <table st-table="rowCollection" st-safe-src="displayedCollection" class="table table-striped">
    	<thead>
        	<tr>
        		<th colspan="5"><input st-search="" class="form-control" placeholder="cauta ..." type="text"/></th>
        	</tr>
        	<tr>
        		<th st-sort="firstName">Nume</th>
        		<th st-sort="lastName">Prenume</th>
        		<th st-sort="address">Adresa</th>
        		<th st-sort="auto">Automobil</th>
        		<th st-sort="date">Data</th>
        	</tr>
    	</thead>
    	<tbody>
        	<tr ng-repeat="row in rowCollection">
        		<td>{{row.firstName}}</td>
        		<td>{{row.lastName}}</td>
        		<td>{{row.address}}</td>
        		<td>{{row.auto}}</td>
        		<td>{{row.date}}</td>
        		<td>
        			<button type="button" ng-click="send(row)" class="btn btn-sm btn-success">
        			    Emite Polita
        			</button>
        			<button type="button" ng-click="view(row)" class="btn btn-sm btn-info">
        			    Vizualizeaza
        			</button>
        		</td>
        	
        	</tr>
    	</tbody>
    	<tfoot>
            <tr>
    		   	<td colspan="5" class="text-center">
    				<div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
    			</td>
    		</tr>
    	</tfoot>
    </table>
</div>