<div class="smart-table-container">
    <div id="messages" class="alert alert-danger" ng-show="vm.show"><p>{{ vm.message }}</p></div>
    <table st-table="rowCollection" st-safe-src="displayedCollection" class="table table-striped">
    	<thead>
        	<tr>
        		<th colspan="5"><input st-search="" class="form-control" placeholder="cauta ..." type="text"/></th>
        	</tr>
        	<tr>
        		<th st-sort="firstName">Username</th>
        		<th st-sort="lastName">Tip Automobil</th>
        		<th st-sort="address">Marca</th>
        		<th st-sort="auto">Durata</th>
        		<th st-sort="date">Data</th>
        	</tr>
    	</thead>
    	<tbody>
        	<tr ng-repeat="row in rowCollection">
        		<td>{{row.username}}</td>
        		<td>{{row.tipauto.name}}</td>
        		<td>{{row.marca.name}}</td>
        		<td>{{row.durata.name}}</td>
        		<td>{{row.date}}</td>
        		<td>
        			<button type="button" ng-click="send(row)" class="btn btn-sm btn-success">
        			    Emite Polita
        			</button>
        			<button type="button" ng-click="view(row)" class="btn btn-sm btn-info">
        			    Vizualizeaza
        			</button>
        		</td>
        	
        	</tr>
    	</tbody>
    	<tfoot>
            <tr>
    		   	<td colspan="5" class="text-center">
    				<div st-pagination="" st-items-by-page="5" st-displayed-pages="7"></div>
    			</td>
    		</tr>
    	</tfoot>
    </table>
</div>